.main{
    background-image: url(images/pizza.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    font-size: medium;
    color: aqua;
}