.main{
    background-image: url(images/pizza.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200vh;
    position: relative;
    text-align: center;
    font-size: medium;
    color: aqua;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 50px;
    font-size: 20px;
    text-align: center;
    margin-right: 20%;
    left: 40%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #9b9e9785;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #174903;
  }
  
  